body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	font-size: 1.25rem;
	background-color: black;
}
/*Typography*/
h1 {
	font-family: 'Lora', serif;
	font-weight: 400;
	color: #212121;
	font-size: 2rem;
	margin: 0;
}
.subtitle {
	font-weight: 700;
	color: #b71c1c;
	font-size: .75rem;
	margin: 0;
}
/*Navigation*/
nav ul {
	list-style: none;
	display: flex;
	padding: 0;
	justify-content: center;
	top: 0;
}
nav li {
	margin: 0 1em;
}
nav a {
	color: black;
	text-decoration: none;
	font-weight: 700;
	top: 0;
}
nav a:hover,
nav a:focus {
	color: red;
}
@media (max-width: 850px) {
	nav ul {
		flex-direction: column;
	}
}
/*layout*/
.container {
	width: 100%;
	max-width: 1700px;
	margin: 0 auto;
}
header {
	text-align: center;
	background-color: #f8f8f8;
	padding: 2em 0;
}
#header-img {
	width: 10%;
	height: auto;
	margin: 0;
}

.container-ads {
	display: flex;
	padding: 2em 0;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 850px) {
	.container-ads {
		flex-direction: column;
	}
}
.bg-img {
	width: 100%;
	height: auto;
}

.model3 {
	display: flex;
	flex-direction: column;
	background: url("../images/Model3.png") no-repeat center center/cover;
	height: 100vh;
	align-items: center;
	justify-content: center;
}
.animated {
	background: url("../images/a.jpg");
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: move 20s linear infinite;
	-webkit-animation: move 20s linear infinite;
	font-family: 'Anton', sans-serif;
	margin: 0;
	padding: 0;
}
@keyframes move {
	0% {
		background-position: 0% 20%;
	}
	100% {
		background-position: 100% 50%;
	}
}
@media (max-width: 850px) {
	.model3 {
		background: url("../images/black.png") no-repeat center center/cover;
	}
}

.contact {
	background-color: #000;
	color: #fff;
	padding: 2rem 0;
	font-size: .85rem;
	color: #ff0000;
}
footer {
	background-image: url("../images/ghost.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	height: 100vh;
	align-items: flex-end;
	justify-content: center;
}
.end {
	/*==footer navigation==*/
	margin: 0 2em;
	text-decoration: none;
	font-size: .70rem;
	color: white;
	margin: 0 2rem;
}

@media (max-width: 850px) {
	footer {
		background-image: url("../images/red.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}
	.end {
		font-size: .60rem;
	}
}
